h1{color:blue;font-size: 40px}
.style1 {color: red;}
p{text-indent: 36px}#首行縮排兩字
a:hover{color:blue;}
h2{border-bottom: 5px solid red; }
h2{border-left: 5px solid red;}
.style2{line-height: 1.5;}
.style2{font-family: verdana;}
.style3{line-height: 1.5;}
.style4{text-decoration: line-through;}
img{border: 5px solid red;}

 